@import url('fonts/Cagliostro.css');

* {
    padding:0;
    margin: 0;
    font-family: 'Cagliostro', sans-serif;
}

body, html {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color:#30343f;
    color: #fff0ef;
    text-align: center;
}

.title {
    padding: 48px  0 40px 0;
    font-size: 32px;
}

.discord {
    padding-bottom: 16px;

}

.discord .images-container {
    padding-top: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.discord  .images-container .discord-link {
    width: 150px;
}

.discord .images-container .neko {
    width: 100px;
    height: 100px;
    background-image: url("images/cat_white.PNG");
    background-repeat: no-repeat;
    background-size: cover;
}

.youtube {
    width: 560px;
    height: 315px;
    max-width: calc(100% - 48px);
}
